In [0]:
%sql
CREATE TABLE IF NOT EXISTS sales (
 sale_id INT,
 customer_id STRING,
 product VARCHAR(50),
 amount INT,
 sale_date DATE,
 regions VARCHAR(50) 
);

In [0]:
%sql
INSERT INTO sales VALUES
 (101,"C001","Shoes",2999,'2023-10-01',"North"),
 (102, "C002","T-Shirt",999,'2023-10-01',"West"),
 (103, "C001", "Watch",5999,'2023-10-02',"North"),
 (104, "C003","Bag",1999,'2023-10-03',"South");

In [0]:
SELECT regions, SUM(amount)as total_amount FROM sales
GROUP BY regions
HAVING SUM(amount);

In [0]:
SELECT sale_id, product, amount, sale_date FROM sales
WHERE sale_date >= '2023-10-02';

In [0]:
SELECT customer_id, product, amount FROM sales
WHERE amount > 2000;

In [0]:
SELECT max(amount), regions 
FROM sales
GROUP BY regions
ORDER BY max(amount) DESC
LIMIT 1;