Series - A Series is a one-dimensional labeled array in Pandas. Itâ€™s similar to a list or a single column in a DataFrame.

In [0]:
import pandas as pd

In [0]:
salaries = pd.Series([10000,300000,20000,40000])
print(salaries)

In [0]:
# display does the same as print

display(salaries)

In [0]:
type(salaries)

In [0]:
#custom index
employee = pd.Series([10000,20000,30000],index=['Akshatha', 'Anu','Akku'])
print(employee)

In [0]:
print(employee['Akshatha'])

In [0]:
# Series with mixed data type
import pandas as pd
details = pd.Series(['akshatha', 50000, 'Data engineer', 'Bangalore'])
print(details)

Follow-up Q: Can a Series hold different types?

âœ… Answer: Yes, unlike NumPy arrays, a Pandas Series can hold mixed data types, but it defaults to the most generic type (e.g., object).

In [0]:
# Applying math on series
salaries = pd.Series([50000, 60000, 70000])
updated_salaries = salaries * 1.10  # 10% hike
print(updated_salaries)

In [0]:
# Handling missing values in series
data=pd.Series([100,None,300])
print('Orignal Series\n',data)

In [0]:
print("Is Null:\n", data.isnull())

In [0]:
print("Fillna:\n", data.fillna(400))

Follow-up Q: Why does Pandas support None?

âœ… Answer: In real data, missing values are common. Pandas treats None or np.nan as null and provides built-in tools to handle them.

DATAFRAME in Pandas

A DataFrame is a 2D labeled table of rows and columns. Think of it as an in-memory Excel sheet or a SQL table.

In [0]:
#dictionary - is a key-value pair
data={
  'Name':['Anurag','Stuti','Steve'],
  'Salary':[50000,60000,70000],
  'Designation':['Data Engineer','Data Scientist','Data Analyst'],
  'Location':['Bengaluru','Bengaluru','Chicago']
      }
print(data)

In [0]:
# convert it into a dataframe
df = pd.DataFrame(data)
display(df)

In [0]:
# there is a difference in display and print
print(df)

ðŸ§  Q: Why is dictionary-to-DataFrame conversion useful?

âœ… A: Many real-world APIs or config files return data as dictionaries; converting them to DataFrames helps in processing.

# DISPLAYS

In [0]:
# column level access
print(df['Salary'])

In [0]:
# row level access - using loc function -using label
print(df.loc[0])

In [0]:
#using index
print(df.iloc[2])

ðŸ§  Q: Difference between .loc[] and .iloc[]?

âœ… A:

.loc[] is label-based (row names/index)

.iloc[] is position-based (integer index)

In [0]:
# mutable feature of dataframe - add a new column
df['Bonus'] = df['Salary'] *0.10
display(df)