In [0]:
%sql
CREATE TABLE employee_sales(
  emp_id STRING,
  emp_name VARCHAR(50),
  sale_amount int,
  dept VARCHAR(50),
  sale_date DATE
)

In [0]:
%sql
INSERT INTO employee_sales VALUES
('E101', 'Ankit', 5000, 'Fashion', '2023-10-01'),
('E102', 'Priya', 8000, 'Fashion', '2023-01-10'),
('E103', 'Ravi', 7000, 'Electronics', '2023-02-10'),
('E104', 'Ankit', 6000, 'Fashion', '2023-03-10')

In [0]:
%sql
--window function to assign rank of employees by sale_amount within each dept
SELECT emp_name, sale_amount, dept, 
RANK() OVER(ORDER BY sale_amount, dept) AS rank
FROM employee_sales

In [0]:
--running total of sales for each employee
SELECT emp_name, sale_amount,
SUM(sale_amount) OVER(ORDER BY sale_amount) as running_total
FROM employee_sales