Class 1 of SQL

In [0]:
%python
print("Hello world")

Class 2 of SQL

In [0]:
%sql
CREATE TABLE employees (
    emp_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    job_title VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE,
    status VARCHAR(20),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
%sql
INSERT INTO employees VALUES
(1, 'John', 'Doe', 'Engineering', 'Software Engineer', 75000.00, '2020-05-15', 'Active', 'Bangalore', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'HR', 'HR Manager', 65000.00, '2019-03-10', 'Active', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Engineering', 'Data Engineer', 85000.00, '2021-07-01', 'Active', 'Hyderabad', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Marketing', 'Marketing Analyst', 60000.00, '2018-11-22', 'Active', 'Delhi', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Sales', 'Sales Executive', 55000.00, '2022-01-05', 'Active', 'Chennai', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Engineering', 'Backend Developer', 78000.00, '2020-09-17', 'Active', 'Pune', 'sara.ali@example.com'),
(7, 'Amit', 'Verma', 'Finance', 'Accountant', 62000.00, '2017-06-30', 'Inactive', 'Bangalore', 'amit.verma@example.com'),
(8, 'Emily', 'Clark', 'HR', 'Recruiter', 50000.00, '2021-02-14', 'Active', 'Mumbai', 'emily.clark@example.com'),
(9, 'Vikram', 'Singh', 'Engineering', 'DevOps Engineer', 90000.00, '2019-08-19', 'Active', 'Hyderabad', 'vikram.singh@example.com'),
(10, 'Neha', 'Patel', 'Sales', 'Regional Manager', 95000.00, '2015-04-01', 'Active', 'Delhi', 'neha.patel@example.com');

In [0]:
%sql
select * FROM employees;

In [0]:
%sql
INSERT INTO employees VALUES
(11, 'David', 'Lee', 'Engineering', 'Frontend Developer', 72000.00, '2020-03-11', 'Active', 'Chennai', 'david.lee@example.com'),
(12, 'Ananya', 'Roy', 'Finance', 'Financial Analyst', 67000.00, '2019-07-25', 'Active', 'Pune', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Marketing', 'Content Strategist', 58000.00, '2021-11-30', 'Active', 'Delhi', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Sales', 'Sales Associate', 52000.00, '2018-10-02', 'Inactive', 'Bangalore', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Engineering', 'Data Scientist', 98000.00, '2021-05-20', 'Active', 'Hyderabad', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'HR', 'Compensation Analyst', 61000.00, '2017-01-16', 'Active', 'Mumbai', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Engineering', 'Software Architect', 120000.00, '2016-09-05', 'Active', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Finance', 'Auditor', 69000.00, '2020-12-11', 'Active', 'Pune', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Sales', 'Regional Sales Head', 115000.00, '2015-06-20', 'Active', 'Chennai', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Engineering', 'Machine Learning Engineer', 93000.00, '2019-04-15', 'Active', 'Hyderabad', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Marketing', 'SEO Specialist', 57000.00, '2018-05-22', 'Active', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Finance', 'Tax Consultant', 65000.00, '2020-01-25', 'Active', 'Mumbai', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'HR', 'HR Coordinator', 48000.00, '2021-09-10', 'Active', 'Bangalore', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Engineering', 'Tech Lead', 105000.00, '2017-11-18', 'Active', 'Chennai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Sales', 'Sales Manager', 88000.00, '2016-02-09', 'Active', 'Hyderabad', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Finance', 'Payroll Specialist', 60000.00, '2022-04-08', 'Active', 'Pune', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Marketing', 'Brand Manager', 75000.00, '2019-03-19', 'Active', 'Delhi', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Engineering', 'QA Engineer', 70000.00, '2020-07-15', 'Active', 'Bangalore', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Engineering', 'Cloud Engineer', 89000.00, '2018-06-25', 'Active', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Sales', 'Territory Manager', 81000.00, '2017-04-05', 'Active', 'Mumbai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Finance', 'Business Analyst', 68000.00, '2021-03-27', 'Active', 'Chennai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'HR', 'Training Specialist', 59000.00, '2019-08-02', 'Active', 'Pune', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Engineering', 'Security Analyst', 94000.00, '2020-12-18', 'Active', 'Delhi', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Marketing', 'Social Media Manager', 63000.00, '2018-07-21', 'Active', 'Bangalore', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Engineering', 'Data Analyst', 76000.00, '2017-02-15', 'Active', 'Hyderabad', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Sales', 'Sales Coordinator', 54000.00, '2022-05-01', 'Active', 'Mumbai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Finance', 'Investment Analyst', 88000.00, '2016-11-28', 'Active', 'Delhi', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Engineering', 'AI Engineer', 115000.00, '2019-09-30', 'Active', 'Chennai', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'HR', 'HRBP', 74000.00, '2020-02-07', 'Active', 'Pune', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Marketing', 'Market Research Analyst', 58000.00, '2021-06-11', 'Active', 'Hyderabad', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Engineering', 'Mobile App Developer', 77000.00, '2018-01-13', 'Active', 'Delhi', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Engineering', 'Product Manager', 125000.00, '2015-12-20', 'Active', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Sales', 'Inside Sales Rep', 56000.00, '2020-04-23', 'Active', 'Chennai', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Finance', 'Risk Manager', 97000.00, '2017-10-14', 'Active', 'Mumbai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Marketing', 'PR Specialist', 64000.00, '2019-05-18', 'Active', 'Pune', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Engineering', 'Technical Support Engineer', 66000.00, '2021-01-12', 'Active', 'Hyderabad', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'HR', 'HR Generalist', 61000.00, '2018-09-03', 'Active', 'Delhi', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Finance', 'Treasury Analyst', 70000.00, '2019-12-29', 'Active', 'Chennai', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Engineering', 'Systems Engineer', 73000.00, '2020-06-17', 'Active', 'Bangalore', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Marketing', 'Advertising Manager', 82000.00, '2017-08-09', 'Active', 'Mumbai', 'aria.gill@example.com');

In [0]:
%sql
SELECT emp_id, first_name, salary, status FROM employees where salary>50000;

In [0]:
%sql
SELECT * FROM employees WHERE status = 'Inactive';

In [0]:
%sql
select * from employees where department in ("Engineering", "HR") and salary > 50000;

In [0]:
%sql
select * from employees where hire_date > '2020-01-01';

In [0]:
%sql
select * from employees
ORDER by first_name asc, salary desc;

In [0]:
%sql
select first_name, last_name, hire_date from employees order by hire_date desc;

In [0]:
%sql
select * from employees 
ORDER BY salary DESC LIMIT 1 OFFSET 1;

In [0]:
%sql
SELECT first_name, last_name, salary FROM employees
ORDER BY salary DESC;

In [0]:
%sql
SELECT DISTINCT City FROM employees;

In [0]:
%sql
--get unique year of joining to get HR report
SELECT DISTINCT year(hire_date) FROM employees ORDER BY 'year(hire_date)' desc;

In [0]:
%sql
describe employees;

In [0]:
%sql
SELECT COUNT(1) FROM employees;

In [0]:
%sql
SELECT 1;

In [0]:
select 1 from employees;

In [0]:
select count(1) from employees

In [0]:
select count(*) from employees

In [0]:
select count(*) from employees where email is NOT NULL

In [0]:
select department,count(*) from employees group by 1

In [0]:
select department,count(*) from employees group by 1

In [0]:
select department,count(*) from employees group by department having count(*) < 9

Class 3 of SQL - Joins

In [0]:
CREATE TABLE customers (
    customer_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
CREATE TABLE orders (
    order_id INT ,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2)
);

In [0]:
CREATE TABLE order_details (
    order_detail_id INT ,
    order_id INT,
    customer_id INT,
    product_id INT,
    product_name VARCHAR(100),
    category VARCHAR(50),
    quantity INT,
    price_each DECIMAL(10,2),
    order_date DATE
);

In [0]:
INSERT INTO customers VALUES
(1, 'John', 'Doe', 'Delhi', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Bangalore', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Hyderabad', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Pune', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Chennai', 'sara.ali@example.com'),
(7, 'Vikram', 'Singh', 'Delhi', 'vikram.singh@example.com'),
(8, 'Neha', 'Patel', 'Mumbai', 'neha.patel@example.com'),
(9, 'David', 'Lee', 'Kolkata', 'david.lee@example.com'),
(10, 'Amit', 'Verma', 'Jaipur', 'amit.verma@example.com'),
(11, 'Emily', 'Clark', 'Delhi', 'emily.clark@example.com'),
(12, 'Ananya', 'Roy', 'Mumbai', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Pune', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Hyderabad', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Chennai', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'Bangalore', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Mumbai', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Kolkata', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Pune', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Hyderabad', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'Chennai', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Mumbai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Pune', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Bangalore', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Kolkata', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Delhi', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Chennai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Mumbai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'Delhi', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Bangalore', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Kolkata', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Pune', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Chennai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Hyderabad', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Delhi', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'Mumbai', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Kolkata', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Pune', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Hyderabad', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Chennai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Delhi', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Mumbai', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'Pune', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Hyderabad', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Chennai', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Bangalore', 'aria.gill@example.com');

In [0]:
INSERT INTO orders VALUES
(1001, 1, '2023-01-10', 1500.00),
(1002, 2, '2023-01-11', 2500.00),
(1003, 3, '2023-01-15', 500.00),
(1004, 1, '2023-02-01', 750.00),
(1005, 4, '2023-02-05', 2000.00),
(1006, 5, '2023-02-08', 1800.00),
(1007, 6, '2023-03-01', 2200.00),
(1008, 7, '2023-03-05', 3000.00),
(1009, 8, '2023-03-09', 1200.00),
(1010, 9, '2023-03-10', 900.00),
(1011, 10, '2023-03-12', 1900.00),
(1012, 11, '2023-03-15', 1500.00),
(1013, 12, '2023-03-18', 2400.00),
(1014, 13, '2023-03-20', 600.00),
(1015, 14, '2023-03-22', 3000.00),
(1016, 15, '2023-03-25', 2800.00),
(1017, 16, '2023-03-28', 3200.00),
(1018, 17, '2023-03-30', 500.00),
(1019, 18, '2023-04-01', 950.00),
(1020, 19, '2023-04-03', 1750.00),
(1021, 20, '2023-04-05', 2100.00),
(1022, 21, '2023-04-08', 1200.00),
(1023, 22, '2023-04-10', 1400.00),
(1024, 23, '2023-04-12', 800.00),
(1025, 24, '2023-04-14', 3300.00),
(1026, 25, '2023-04-16', 2400.00),
(1027, 26, '2023-04-18', 1800.00),
(1028, 27, '2023-04-20', 2000.00),
(1029, 28, '2023-04-22', 2200.00),
(1030, 29, '2023-04-24', 1950.00),
(1031, 30, '2023-04-26', 2600.00),
(1032, 31, '2023-04-28', 1550.00),
(1033, 32, '2023-05-01', 2700.00),
(1034, 33, '2023-05-03', 1000.00),
(1035, 34, '2023-05-05', 1900.00),
(1036, 35, '2023-05-07', 2100.00),
(1037, 36, '2023-05-09', 1100.00),
(1038, 37, '2023-05-11', 1250.00),
(1039, 38, '2023-05-13', 1850.00),
(1040, 39, '2023-05-15', 1400.00),
(1041, 40, '2023-05-17', 1750.00),
(1042, 41, '2023-05-19', 900.00),
(1043, 42, '2023-05-21', 2500.00),
(1044, 43, '2023-05-23', 3000.00),
(1045, 44, '2023-05-25', 2100.00),
(1046, 45, '2023-05-27', 2600.00),
(1047, 46, '2023-05-29', 2700.00),
(1048, 47, '2023-05-31', 2800.00),
(1049, 48, '2023-06-02', 1500.00),
(1050, 49, '2023-06-04', 1200.00),
(1051, 50, '2023-06-06', 800.00),
(1052, 1, '2023-06-08', 2000.00),
(1053, 2, '2023-06-10', 2300.00),
(1054, 3, '2023-06-12', 1400.00),
(1055, 4, '2023-06-14', 1750.00),
(1056, 5, '2023-06-16', 2600.00),
(1057, 6, '2023-06-18', 2100.00),
(1058, 7, '2023-06-20', 900.00),
(1059, 8, '2023-06-22', 3000.00),
(1060, 9, '2023-06-24', 1200.00),
(1061, 10, '2023-06-26', 1850.00),
(1062, 11, '2023-06-28', 1750.00),
(1063, 12, '2023-06-30', 1600.00),
(1064, 13, '2023-07-02', 950.00),
(1065, 14, '2023-07-04', 2100.00),
(1066, 15, '2023-07-06', 2500.00),
(1067, 16, '2023-07-08', 3000.00),
(1068, 17, '2023-07-10', 2700.00),
(1069, 18, '2023-07-12', 1500.00),
(1070, 19, '2023-07-14', 1400.00);

In [0]:
INSERT INTO order_details VALUES
(1, 1001, 1, 201, 'Laptop', 'Electronics', 1, 50000.00, '2023-01-10'),
(2, 1001, 1, 203, 'Headphones', 'Accessories', 2, 2000.00, '2023-01-10'),
(3, 1002, 2, 202, 'Smartphone', 'Electronics', 1, 30000.00, '2023-01-11'),
(4, 1003, 3, 205, 'Water Bottle', 'Kitchen', 3, 500.00, '2023-01-15'),
(5, 1004, 1, 208, 'Bluetooth Speaker', 'Electronics', 1, 3500.00, '2023-02-01'),
(6, 1005, 4, 204, 'Desk Chair', 'Furniture', 1, 4000.00, '2023-02-05'),
(7, 1006, 5, 207, 'Office Desk', 'Furniture', 1, 7000.00, '2023-02-08'),
(8, 1007, 6, 211, 'Tablet', 'Electronics', 2, 25000.00, '2023-03-01'),
(9, 1008, 7, 215, 'Gaming Chair', 'Furniture', 1, 15000.00, '2023-03-05'),
(10, 1009, 8, 209, 'Notebook', 'Stationery', 5, 200.00, '2023-03-09');

In [0]:
--list all customers with order details

SELECT c.customer_id, c.first_name, c.last_name, o.order_id, o.product_name, o.quantity 
FROM customers as c INNER JOIN order_details as o
ON c.customer_id = o.customer_id;

In [0]:
-- full breakdown of customers, order details and orders

SELECT c.customer_id, c.first_name, od.order_id, od.product_name, od.price_each, o.order_date, o.total_amount

FROM customers as c
INNER JOIN order_details as od ON c.customer_id = od.customer_id
INNER JOIN orders as o ON c.customer_id = o.customer_id;

In [0]:
SELECT 
od.order_id, c.first_name, od.product_name, od.quantity, od.price_each

 FROM ORDER_DETAILS as od 
 INNER JOIN  ORDERS as o ON od.order_id=o.order_id
 INNER JOIN CUSTOMERS as c ON o.customer_id=c.customer_id

In [0]:
--show active customers

SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS o ON c.customer_id=o.customer_id

In [0]:
--identify customers who has not placed order and follow up with them

SELECT c.customer_id, c.first_name, c.last_name

FROM customers as c
LEFT JOIN orders as o ON c.customer_id = o.customer_id
WHERE o.order_id IS NULL

--no rows are returned, this means all customers have placed orders

In [0]:
-- right join

SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM ORDERS as o 
 RIGHT JOIN CUSTOMERS c ON c.customer_id=o.customer_id

In [0]:
-- Only shows customers who HAVE orders.

SELECT c.customer_id, c.first_name, o.order_id, o.order_date
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id;

In [0]:
CREATE TABLE emp (
    emp_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    manager_id INT,
    department VARCHAR(50)
);

In [0]:
INSERT INTO emp VALUES
(1, 'Alice', 'Johnson', NULL, 'Management'),
(2, 'Bob', 'Smith', 1, 'Sales'),
(3, 'Carol', 'Taylor', 1, 'Sales'),
(4, 'David', 'Brown', 2, 'Sales'),
(5, 'Eva', 'Davis', 2, 'Sales'),
(6, 'Frank', 'Miller', 1, 'Engineering'),
(7, 'Grace', 'Wilson', 6, 'Engineering'),
(8, 'Henry', 'Moore', 6, 'Engineering'),
(9, 'Ivy', 'Clark', 3, 'Sales'),
(10, 'Jack', 'Hall', 3, 'Sales');

In [0]:
SELECT distinct e1.first_name AS employee, e2.first_name AS manager, e1.department
FROM emp e1
LEFT JOIN emp e2 ON e1.manager_id = e2.emp_id;

--self join - creating emp table again and joining it

In [0]:
--Find Direct Reporting Managers counts

SELECT e2.first_name AS manager, COUNT(e1.emp_id) AS team_size
FROM emp e1
INNER JOIN emp e2 ON e1.manager_id = e2.emp_id
GROUP BY e2.first_name;

In [0]:
--  Full audit of customers + orders (matched or not) -OUTER JOIN
 SELECT c.first_name, o.order_id, od.product_name
FROM customers c
FULL OUTER JOIN orders o ON c.customer_id = o.customer_id
FULL OUTER JOIN order_details od ON o.order_id = od.order_id;

In [0]:
--UNION

SELECT DISTINCT city FROM customers
UNION
SELECT DISTINCT category FROM order_details;

In [0]:
--UNION ALL includes duplicates

SELECT DISTINCT city FROM customers
UNION ALL
SELECT DISTINCT  category FROM order_details;

In [0]:
-- top 3 customers by spend

SELECT
c.first_name, c.last_name, SUM(od.quantity * od.price_each) AS total_spend
FROM customers AS c
INNER JOIN orders as o ON c.customer_id = o.customer_id
INNER JOIN order_details as od ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_spend DESC
LIMIT 3

Class 4 of SQL - Subqueries and Joins

In [0]:
-- Find customers who placed orders above the average order amount.
SELECT c.customer_id, c.first_name, c.last_name,o.total_amount from customers c
INNER JOIN orders o
ON c.customer_id = o.customer_id WHERE o.total_amount >
(
SELECT AVG(total_amount) FROM orders
)

In [0]:
select AVG(total_amount) from orders

In [0]:
-- List all products that have been sold more than 2 times in total.
SELECT product_name, SUM(quantity) as total_sold FROM order_details od
group by od.product_name
HAVING total_sold > (SELECT 2);

In [0]:
--  List customers and their total quantity of products ordered.

WITH customer_orders AS (
SELECT c.customer_id, c.first_name, SUM(od.quantity) AS total_quantity
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN order_details od ON c.customer_id = od.customer_id
GROUP BY c.customer_id, c.first_name
)
SELECT * FROM customer_orders

In [0]:
--Find products with their total sales revenue (price * quantity).
WITH product_sales AS(
  SELECT od.product_name, SUM(od.price_each*od.quantity) AS total_revenue FROM order_details od
  GROUP BY od.product_name
)

SELECT * FROM product_sales

CASE statements

In [0]:
--Categorize each order as 'Small', 'Medium', 'Large'.

SELECT o.order_id, o.total_amount,
CASE
  WHEN o.total_amount < 1000 THEN 'Small'
  WHEN o.total_amount BETWEEN 1000 AND 5000 THEN 'Medium'
  ELSE 'Large'
END AS order_size 
FROM orders o

In [0]:

-- Categorize each order as 'Small', 'Medium', 'Large' and output only large orders. use CTE.

WITH categorized_orders AS (
    SELECT o.order_id, o.total_amount, 
          CASE
              WHEN o.total_amount < 1000 THEN 'SMALL'
              WHEN o.total_amount BETWEEN 1000 AND 1500 THEN 'MEDIUM'
              ELSE 'LARGE'
          END AS ORDER_SIZE 
    FROM orders o
)
SELECT * 
FROM categorized_orders 
WHERE ORDER_SIZE = 'LARGE'

In [0]:
--Label customers as 'New' or 'Returning' based on order count.


SELECT c.first_name, COUNT(o.order_id) AS total_orders,
       CASE
           WHEN COUNT(o.order_id) = 1 THEN 'New'
           WHEN COUNT(o.order_id) > 1 THEN 'Returning'
           ELSE 'No Orders'
       END AS customer_type
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name;

Functions

In [0]:
SELECT UPPER(c.first_name) AS FIRST_NAME_UPPERCASE from customers c

In [0]:
SELECT LOWER(c.first_name) AS Lower_first_name FROM customers c

In [0]:
SELECT UPPER(CONCAT(c.first_name," ",c.last_name)) AS FULL_NAME from customers c

In [0]:
-- find the month where sales was the highest
-- Extract month of each order & group orders by month.
SELECT MONTH(o.order_date) AS order_month, count(o.order_id) AS total_orders 
FROM orders o 
GROUP BY order_month
ORDER BY order_month

In [0]:
-- List each customer's name + their total spend + spending category.

WITH customer_spend AS (
    SELECT c.customer_id, CONCAT(c.first_name, ' ', c.last_name) AS full_name,
           SUM(od.quantity * od.price_each) AS total_spent
    FROM customers c
    INNER JOIN orders o ON c.customer_id = o.customer_id
    INNER JOIN order_details od ON o.order_id = od.order_id
    GROUP BY c.customer_id, c.first_name, c.last_name
)

SELECT full_name, total_spent,
       CASE
           WHEN total_spent < 10000 THEN 'Bronze'
           WHEN total_spent BETWEEN 10000 AND 2000 THEN 'Silver'
           ELSE 'Gold'
       END AS customer_tier
FROM customer_spend;

Class 7 :Query optimization

In [0]:
-- unoptimized query - using select *

SELECT * FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
join order_details od ON c.customer_id = od.customer_id

In [0]:

--OPTIMISED QUERY 

SELECT c.first_name, o.order_id, od.product_name, od.price_each
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id;

Filtering after JOIN vs Filtering before

In [0]:
-- Unoptimized:

SELECT c.first_name, od.product_name, od.price_each
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
ORDER BY od.price_each DESC;

In [0]:

--Optimised

SELECT c.first_name, od.product_name, od.price_each
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
WHERE od.price_each > 1000
ORDER BY od.price_each DESC;

using indexing

In [0]:
--without indexing

SELECT * 
FROM order_details
WHERE price_each > 10000;

In [0]:
-- Add index first
CREATE INDEX idx_price ON order_details(price_each);

-- Then rerun
SELECT * 
FROM order_details
WHERE price_each > 10000;