In [0]:
%sql
CREATE TABLE IF NOT EXISTS sales (
 sale_id INT,
 customer_id STRING,
 product VARCHAR(50),
 amount INT,
 sale_date DATE,
 regions VARCHAR(50) 
);

In [0]:
%sql
INSERT INTO sales VALUES
 (101,"C001","Shoes",2999,'2023-10-01',"North"),
 (102, "C002","T-Shirt",999,'2023-10-01',"West"),
 (103, "C001", "Watch",5999,'2023-10-02',"North"),
 (104, "C003","Bag",1999,'2023-10-03',"South");

In [0]:
SELECT regions, SUM(amount)as total_amount FROM sales
GROUP BY regions
HAVING SUM(amount);

In [0]:
SELECT sale_id, product, amount, sale_date FROM sales
WHERE sale_date >= '2023-10-02';

In [0]:
SELECT customer_id, product, amount FROM sales
WHERE amount > 2000;

In [0]:
SELECT max(amount), regions 
FROM sales
GROUP BY regions
ORDER BY max(amount) DESC
LIMIT 1;

In [0]:
CREATE TABLE customer(
  customer_id STRING,
  name VARCHAR(50),
  gender VARCHAR(10),
  city VARCHAR(50)
)

In [0]:
INSERT INTO customer VALUES
('C001', 'Ravi', 'M','Mumbai'),
('C002', 'Priya', 'F', 'Delhi'),
('C003', 'Arjun', 'M', 'Bangalore')

In [0]:
--join query
SELECT c.customer_id, c.name, s.product, s.regions FROM customer c
INNER join sales s
ON c.customer_id = s.customer_id

In [0]:
--count how many products each customer has purchased
SELECT customer_id, COUNT(DISTINCT product) as total_products FROM sales
GROUP BY customer_id

In [0]:
--get all female customers who made a purchase greater than 999

SELECT c.name, c.customer_id, s.amount FROM customer c
INNER JOIN sales s
ON c.customer_id = s.customer_id
WHERE c.gender = "F" AND s.amount>=999

In [0]:
--identify cities with the highest total purchase amount

SELECT c.name, s.customer_id, MAX(amount) AS maximum_spend, s.product, c.city FROM customer c
INNER JOIN sales s 
ON c.customer_id = s.customer_id
GROUP BY c.name, s.customer_id, s.product, c.city
LIMIT 1

In [0]:
SELECT (LENGTH(TRIM('DataX')))

In [0]:
SELECT 10+5*2